
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AboutUs</title>
</head>
<body>
    <div>
        <p>Ova e About us preku index</p>
        <input type="button" value="Simnigo" onclick="location.href='@Url.Action("file","home")'"/>
   
        @*@Html.Action("File","Home")*@
    </div>
</body>
</html>
